.btn {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.primary {
  background-color: orangered;
}
